* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body nav {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}
body nav ul {
  display: flex;
}
body nav ul li {
  list-style-type: none;
  margin: 1rem;
}
body nav ul li a {
  color: black;
  text-decoration: none;
  transition: all 0.1s ease;
}
body nav ul li a:hover {
  color: rgb(54, 212, 138);
}
body section.main-area {
  background-color: white;
  min-height: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
body section.main-area div.info {
  flex-basis: 450px;
}
body section.main-area div.info h1 {
  font-size: 3.5rem;
}
body section.main-area div.info h2 {
  font-size: 1rem;
}
body section.main-area div.info a {
  color: white;
  background-color: rgb(54, 212, 138);
  padding: 0.25rem 0.5rem;
  font-size: 1.5rem;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  margin-top: 2rem;
  transition: all 0.2s ease;
}
body section.main-area div.info a:hover {
  transform: scale(1.2);
}
body section.main-area div.image-area {
  flex-basis: 420px;
}
body section.main-area div.image-area img {
  width: 90%;
}
body section.about-me {
  background-color: rgb(231, 255, 233);
  padding: 5rem 0;
  display: flex;
  justify-content: center;
}
body section.about-me section.description {
  width: 50%;
  text-align: center;
}
body section.about-me section.description h2 {
  font-size: 2rem;
}
body section.about-me section.description .progress-bar-area p {
  margin-top: 1rem;
}
body section.resume {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}
body section.resume section.table {
  flex: 5 0 550px;
  padding: 2rem;
  --bs-table-bg: none;
}
body section.resume section.table tr.table-first-row {
  border-top: 2px solid gray;
}
body section.resume section.table tr.table-first-row td.left {
  width: 25%;
}
body section.resume section.table tr.table-first-row td.right {
  width: 75%;
}
body section.resume section.table tr {
  border-bottom: 2px solid gray;
  transition: all 0.2s ease;
}
body section.resume section.table tr:hover {
  background-color: rgb(184, 255, 222);
}
body section.resume section.table tr td {
  padding: 1rem;
}
body section.resume section.picture {
  flex: 1 1 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
body section.resume section.picture img {
  width: 90%;
}
body section.resume section.picture div.greenRect {
  width: 30vw;
  height: 90vh;
  border: 10px solid rgb(195, 255, 200);
  position: absolute;
  top: 30px;
  left: 80px;
  z-index: -1;
}
body section.resume section.picture div.greenRect2 {
  width: 50vw;
  height: 40vh;
  border: 10px solid rgb(195, 255, 200);
  position: absolute;
  top: 200px;
  left: -300px;
  z-index: -1;
}
body section.resume section.picture div.greenRect3 {
  width: 47.5vw;
  height: 40vh;
  border: 10px solid rgb(195, 255, 200);
  position: absolute;
  top: 0px;
  left: -100px;
  z-index: -1;
}

@media screen and (max-width: 800px) {
  body main section.about-me section.description {
    width: 80%;
  }
  body main section.resume {
    overflow-x: auto;
  }
  body main section.resume div.greenRect,
  body main section.resume div.greenRect2,
  body main section.resume div.greenRect3 {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  body nav {
    position: static;
  }
  body nav ul {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */